<!DOCTYPE html>
<html>
  <head>
    <title>Walutomat</title>
  </head>
<body>
<h1>Walutomat</h1>
<p>Rozpoczynamy obliczenia:</p>
  <form action="/result" method="POST">
    <label for="currencyCode">Wybierz kod waluty:</label>
    <select name="currencyCode" id="currencyCode">
      <option value="USD">USD</option>
      <option value="AUD">AUD</option>
      <option value="CAD">CAD</option>
      <option value="EUR">EUR</option>
    </select>
    <br><br>
    <label for="currencyAmount">Ile waluty chcesz kupić?:</label>
    <input type="text" id="currencyAmount" name="currencyAmount"><br><br>
    <input type="submit" value="Przelicz">
  </form>
  <p>Kliknij przelicz aby zobaczyć rezultat"</p>
</body>
</html>
